Question 1

In [13]:
a=0

In [14]:
def b():
    global a       # all references to a in b() are to global a
    a=c(a)         # global a value is passed in function and it is stored in variable a

In [15]:
def c(a):          #when global a is passed firstly its value is 0 
    return a+2     # then 2 is added in global a

In [18]:
b() #here by calling function b, a=0 value will be passed in function c where 2 will be added to a and value of a will be 2.

In [19]:
b() #here by calling function b,value of a will be 2,it will be passed in function c where 2 is added to a and value of a will be 4.

In [8]:
b() #here by calling function b,value of a will be 4,it will be passed in function c where 2 is added to a and value of a will be 6.

In [9]:
a

6

The Value came after executing last expression(a) is 6.

Question 2

In [1]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('File {} not found.'.format(file_name))

In [6]:
file_name = 'file1.py'
file_length('file_name')

File file_name not found.

Question 3

In [106]:
class Marsupial():
    
    def __init__(self):
        self.mlist = []
    
    def put_in_pouch(self, a):
        self.mlist.append(a)
    
    def pouch_contents(self):
        print(self.mlist)
        
m = Marsupial()
m.put_in_pouch('doll')            
m.put_in_pouch('firetruck')      
m.put_in_pouch('kitten')         
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [117]:
class Kangaroo(Marsupial):
    def __init__(self, x , y):
        #super.__init__(x,y)
        self.x=x
        self.y=y
        self.mlist=[]
        print("I am kangaroo located at ",x,y)
        
    def put_in_pouch(self,a):
        self.mlist.append(a)
        
    def jump(self,dx,dy):
        dx=0+dx
        dy=0+dy
              
        print("I am a Kangaroo located at coordinates",dx,dy)
            
            
        
k = Kangaroo(0,0)
k
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
k

I am kangaroo located at  0 0
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates 1 0
I am a Kangaroo located at coordinates 1 0
I am a Kangaroo located at coordinates 1 0

Question 4

In [8]:
def collatz(x):
    if (x == 1):        
        print(1)
    elif (x < 1):        
        print("enter any positive number")
    elif (x % 2 == 0):    
        print(int(x))     
        x = x/2           
        collatz(x)        
    else:                 
        print(int(x))     
        x = (x*3) + 1     
        collatz(x)        
            
x = int(input("enter a positive number: "))
collatz(x)

enter a positive number: 10
10
5
16
8
4
2
1

In [9]:
x = int(input("enter a positive number: "))
collatz(x)

enter a positive number: 1
1

Question 5

In [10]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')

In [11]:
binary(0)

0

In [12]:
binary(1)

1

In [13]:
binary(3)

11

In [14]:
binary(9)

1001

Question 6

In [97]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    a = 0      
    b = 0     
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.a = 1                     

    def handle_data(self, data):
         if self.a == 1:
            print(data.rjust(len(data) + self.b), end ='\n') 
    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9']:
            self.a = 0                    
            self.b +=1  
            
infile=open("w3c.html")
content=infile.read()
infile.close()
hp=HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 7

Question 8

In [31]:
import sqlite3

In [32]:
con = sqlite3.connect('info.db')
cur = con.cursor()
cur.execute("CREATE TABLE City_Info (City text, Country text, Season text,Temperature double,Rainfall double)")
cur.execute("INSERT INTO City_Info VALUES('Mumbai', 'India', 'Winter',24.8 ,5.9),('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO City_Info VALUES('London','UnitedKingdom','Winter',4.2,207.7),('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO City_Info VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [35]:
cur.execute('SELECT * FROM City_Info')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'UnitedKingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

(a)

In [36]:
cur.execute('SELECT Temperature FROM City_Info')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

(b)

In [37]:
cur.execute('SELECT DISTINCT(City) FROM City_Info')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

(c)

In [40]:
cur.execute('SELECT * FROM City_Info WHERE Country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

(d)

In [41]:
cur.execute('SELECT * FROM City_Info WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

(e)

In [44]:
cur.execute('SELECT City,Country,Season,AVG(Rainfall) FROM City_Info GROUP BY City,Country,Season HAVING AVG(Rainfall)>200 and AVG(Rainfall)<400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'UnitedKingdom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

(f)

In [45]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM City_Info where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

(g)

In [46]:
cur.execute('SELECT SUM(Rainfall) FROM City_Info WHERE City="Cairo"')
cur.fetchall()

[(27.6,)]

(h)

In [48]:
cur.execute('SELECT Season,SUM(Rainfall) FROM City_Info GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9

In [19]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

(a)

In [25]:
word1=[word_u.upper() for word_u in words]
word1

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

(b)

In [26]:
word2=[word_l.lower() for word_l in words]
word2

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(c)

In [28]:
word3=[len(word_len) for word_len in words]
word3

[3, 5, 5, 3, 5, 4, 3, 4, 3]

(d)

In [29]:
word4=[[a,b,c] for a,b,c in zip(word1,word2,word3)]
word4

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

(e)

In [30]:
word5=[]
[word5.append(word_a) for word_a in words if len(word_a)>=4]
word5

['quick', 'brown', 'jumps', 'over', 'lazy']